body, html
{
  min-height: 400px;
  min-width: 400px;
}


.black_overlay {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}

#summaryEdit {
	position: absolute;
	top: 30px;
	left: 30px;
	width: 420px;
	height: 420px;
	padding: 10px;
	border: 4px black solid;
	background-color: white;
	z-index:1002;
	overflow: auto;
}

#summaryLink
{
  bottom:0;
  right:0;
  position:absolute;
  z-index: 100;
  padding: 3px;
  border: 3px solid white;
  background: white;
}

#summaryLink a
{
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

.popupContainer textarea
{
  width: 100%;
  box-sizing: border-box;
  height: 150px;
  resize: none;
}

table#summary td
{
  padding:5px;
}

table#summary th
{
  text-align:left;
  background-color:goldenrod ;
  color:white;
  font-weight:bold;
  padding-left:5px;
}

table#summary tr:nth-child(even) {
    background-color: lightgoldenrodyellow;
}

#refresh
{
    margin-top:10px;
    layout:block;
}
